* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
}

#shop-img {
    margin: 0 10px 0 30px
}

#shop-cart {
    margin-right: 30px;
    color: #C0225C;
}

#search-title {
    margin: 30px 0 30px 0;
}

.section-search {
    margin: 30px 0 30px 0;
}

.btn-cart {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-remove {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#card-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 6vh;
    padding-right: 40px;
    font-size: 20px;
}

.notFound {
    grid-template-columns: 1fr !important;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

.discount {
    height: 0;
}

.img_cover {
    max-width: 500px;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .search-nav {
      width: 100%;
      padding-top: 15px;
      flex-direction: column;
    }
    .count-cart {
      bottom: 163px;
    }
    #searchInput {
      margin: 10px 0 10px;
    }
}







